<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>하루사용기 - 이메일 찾기 완료</title>
    <link rel="icon" href="../../assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../assets/js/common.js"></script>
</head>
<body>
  <div id="root">
    <main id="main" class="main">
      <div class="auth">
        <h1 class="logo"><span class="logo__img"><span class="blind">하루사용기</span></span></h1>

        <article class="auth__content">
          <h2 class="auth__title">이메일 찾기 완료</h2>

          <div class="auth__notice">
            <p class="auth__notice-text">
              안녕하세요! 회원님이 가입 시 사용한 이메일은 <br>
              {{ userEmail }} 입니다!
            </p>
          </div>
          <div class="auth__btn-wrap">
            <button type="button" class="c-button auth__btn-login default large" >로그인하기</button>
            <div class="auth__init">
              <span class="auth__init-text">비밀번호가 기억나지 않나요?</span>
              <a href="#" class="auth__init-link">비밀번호 찾기</a>
            </div>
          </div>
        </article>
      </div>
    </main>
    
    <footer id="footer" class="footer">
      <div class="footer__inner">
        <p class="copy">&copy; 2023 Sunny. All rights reserved.</p>
      </div>
    </footer>
  </div>
</body>
</html>